.card {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 4rem;
  // height: 100%;
  width: 25rem;
  overflow: hidden;
  @media screen and (max-width: 425px) {
    width: 80vw;
  }
  .header {
    align-self: flex-start;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid rgba(149, 157, 165, 0.2);
    &_heading {
      padding: 1rem;
    }
  }

  .content {
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    padding: 20px;
    margin: 1rem;
    width: 80%;
    .row {
      display: flex;
      justify-content: space-between;
    }
    .small {
      color: #abb0b8;
      font-size: 0.6rem;
    }
    &_item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      svg {
        margin-right: 10px;
      }
      img {
        height: 28px;
        width: 28px;
      }
    }
    & > :not(:first-child) {
      margin-top: 1rem;
    }
    .cityName {
      font-size: 1.4rem;
      color: rgb(67, 165, 243);
      font-weight: bold;
    }
    .temperature {
      // margin-top: 1rem;
    }
    .temMinMax {
      // margin-top: 1rem;
    }
  }
}

.dColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.md {
  font-size: 0.9rem;
}
